---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Technologies from "../components/Technologies.astro";
import Experience from "../components/Experience.astro";
import ryanImage from "../images/ryan-s.png";
---

<Layout title="About | Ryan Seipp" description="More about me">
  <section class="mb-10 flex flex-col gap-y-8">
    <div class="flex flex-col items-center gap-8 sm:flex-row sm:items-start">
      <Image
        class="h-32 w-32 max-w-none rounded-full"
        src={ryanImage}
        alt="Ryan Seipp"
        width={256}
        height={256}
        loading="eager"
      />
      <div>
        <h1 class="mb-2 text-4xl font-bold">
          Hello, I'm
          <span class="text-cyan-600 dark:text-cyan-400"> Ryan Seipp</span>
        </h1>
        <p>
          I'm a platform engineer with years of experience building scalable
          APIs and web apps as a software engineer. I'm focused on building
          scalable, efficient, and secure production environments. Additionally,
          I'm interested in improving developer efficiency and autonomy through
          self-service infrastructure.
        </p>
      </div>
    </div>
    <p>
      Outside of work, my interests have lead me to investigate and experiment
      with network technologies and declarative systems. I tinker on a homelab
      running NixOS and Kubernetes, or work on building atop of Linux's io_uring
      for more efficient web frameworks and applications.
    </p>
    <p>
      Outside of tech, I enjoy walks with my dog, Formula 1, and golfing on warm
      weekends.
    </p>
  </section>
  <Technologies class="mb-10" />
  <Experience />
</Layout>
