---
import {getCollection} from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogLink from "../components/BlogLink.astro";

const blogEntries = await getCollection("blog", (entry) => !entry.data.draft);
---

<Layout
  title="Home | Ryan Seipp"
  description="A blog about software engineering, networking, and homelabs"
>
  <h1
    class="mb-4 text-8xl font-medium text-cyan-600 dark:text-cyan-400"
    transition:name="me"
    transition:animate="fade"
  >
    Ryan Seipp
  </h1>
  <h2 class="text-2xl">
    Software Engineer. Networking and Homelab Enthusiast.
  </h2>
  <section class="mt-24">
    <h3 class="text-2xl">Posts</h3>
    <ul class="mt-4 flex flex-col gap-6">
      {
        blogEntries
          .toSorted(
            (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
          )
          .map((post) => (
            <li>
              <BlogLink post={post} />
            </li>
          ))
      }
    </ul>
  </section>
</Layout>
