---
import {getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogLink from "../../components/BlogLink.astro";

const blogEntries = await getCollection("blog", (entry) => !entry.data.draft);
---

<Layout
  title="Posts | Ryan Seipp"
  description="A blog about software engineering, networking, and homelabs"
>
  <section>
    <ul class="mt-4 flex flex-col gap-8">
      {
        blogEntries
          .toSorted(
            (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
          )
          .map((post) => (
            <li>
              <BlogLink post={post} />
            </li>
          ))
      }
    </ul>
  </section>
</Layout>
