---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oops! | Ryan Seipp" description="Page not found">
  <div class="flex flex-col items-center justify-center">
    <h2>Oops!</h2>
    <p>
      I couldn't find that page. Either the link is broken, or the page does not
      exist.
    </p>
    <a class="underline" href="/">Take me back home</a>
  </div>
</Layout>
