---

---

<section class="mt-12 mb-36">
  <h1
    class="animate-in fade-in slide-in-from-top-8 mb-8 text-6xl font-medium text-cyan-600 duration-1000 dark:text-cyan-400"
  >
    Ryan Seipp
  </h1>
  <h2 class="animate-in fade-in slide-in-from-left-8 text-xl duration-1000">
    <span>I'm a</span>
    <span
      class="rounded bg-linear-to-r from-cyan-400 to-sky-500 p-1 dark:text-zinc-900"
      >Sr. DevSecOps Engineer.</span
    >
    <span>Kubernetes, Homelab, and Networking enthusiast</span>
  </h2>
</section>
