---
import AWSIcon from "./icons/AWSIcon.astro";
import AzureIcon from "./icons/AzureIcon.astro";
import DockerIcon from "./icons/DockerIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import GoIcon from "./icons/GoIcon.astro";
import KubernetesIcon from "./icons/KubernetesIcon.astro";
import LinuxIcon from "./icons/LinuxIcon.astro";
import PostgresIcon from "./icons/PostgresIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import RustIcon from "./icons/RustIcon.astro";
import SqlServerIcon from "./icons/SqlServerIcon.astro";
import TerraformIcon from "./icons/TerraformIcon.astro";

type Props = {
  class?: astroHTML.JSX.HTMLAttributes["class"];
};

const props = Astro.props;

const icons = [
  {Icon: KubernetesIcon, name: "Kubernetes"},
  {Icon: AzureIcon, name: "Azure"},
  {Icon: AWSIcon, name: "AWS"},
  {Icon: GitHubIcon, name: "GitHub"},
  {Icon: DockerIcon, name: "Docker"},
  {Icon: TerraformIcon, name: "Terraform"},
  {Icon: LinuxIcon, name: "Linux"},
  {Icon: GoIcon, name: "Go"},
  {Icon: RustIcon, name: "Rust"},
  {Icon: ReactIcon, name: "React"},
  {Icon: PostgresIcon, name: "PostgreSQL"},
  {Icon: SqlServerIcon, name: "SQL Server"},
];
---

<section class={props.class}>
  <h2 class="mb-4 text-xl">Technologies</h2>
  <ul class="mx-auto flex flex-wrap justify-center gap-x-2 gap-y-6">
    {
      icons.map(({Icon, name}) => (
        <li class="flex w-24 flex-col items-center gap-2">
          <Icon size="4rem" />
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</section>
