---
import type {HTMLAttributes} from "astro/types";

type Props = HTMLAttributes<"a">;

const {href, ...attrs} = Astro.props;
---

<a
  class="text-zinc-700 underline decoration-zinc-50 transition hover:text-zinc-900 hover:decoration-zinc-900 focus:decoration-zinc-900 active:decoration-zinc-900 dark:text-zinc-300 dark:decoration-zinc-800 hover:dark:text-zinc-100 hover:dark:decoration-zinc-100 focus:dark:decoration-zinc-100 active:dark:decoration-zinc-100"
  {href}
  {...attrs}
>
  <slot />
</a>
